{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                Author: {{ post.author.name }} {{ post.author.surname }}, Created: {{ post.createdAt.format('d/m/Y') }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Tags:
                {% for tag in post.tags %}
                    <a href="{{ path('tag_detail', {'slug': tag.slug}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ post.text|raw }}
            </div>
        </div>

    </div>
{% endblock %}

